.results {
    display: flex;
    flex-direction: column;
}

i {
    color: var(--main-color);
    align-self: flex-end;
    margin: 25px 20px 0 0;
}

i:active {
    color: var(--main-dark)
}

#you-are {
    margin-left: 20px;
}

#fun-name {
    font-size: 40px;
    font-weight: 600;
    align-self: center;
    text-align: center;
    margin: 4px 20px;
    line-height: 50px; 
}

#code {
    font-size: 25px;
    font-weight: 400;
    margin: -8px 63px 0 0;
    align-self: flex-end;
}

.compare-label {
    z-index: 1;
    margin: -5px 0 0 20px;
    font-size: 14px;
    opacity: 60%;
    display: flex;
}

.compare-label.average {
    margin-bottom: 8px;
}

.compare-label.user {
    margin-bottom: -20px;
}

.compare-input {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    margin-right: 5px;
    height: 17px;
    width: 17px;
    align-self: center;
    border: 1.5px solid grey;
    border-radius: 4px;
}

.compare-input.average:checked {
    background-color: rgba(45, 107, 214, 0.8);
}
.compare-input.user:checked {
    background-color: rgba(255, 50, 50, 0.7);
}

#radar {
    width: 90vw;
    align-self: center;
    margin-top: -40px;
}

.info {
    display: flex;
    gap: 10px;
    margin: 0 20px;
    position: relative;
}

.table-container {
    border-radius: 10px;
    overflow: hidden;
    width: min-content;
    border: 1px solid #b9b9b9;
}

.table {
    font-size: 14px;
    border-collapse: collapse;
}

.table .left-col {
    font-weight: 500;
    background-color: rgb(0, 0, 0, 0.06);
}

.table .left-col:active {
    text-decoration: underline;
}

.table td {
    padding: 3px 10px;
    border: 1px solid #b9b9b9;
}

.table tr:first-child td {
    border-top: none;
}

.table tr:last-child td {
    border-bottom: none;
}

.table td:first-child {
    border-left: none;
}

.table td:last-child {
    border-right: none;
}

.description {
    background-color: var(--main-light);
    position: relative;
    border-radius: 10px;
    width: 0px;
    height: 0px;
    flex-grow: 1;
    z-index: 1;
    text-align: center;
    padding: 5px;
    overflow-y: hidden;
}

.description .desc-title {
    text-decoration: underline;
    font-size: 16px;
    font-weight: 600;
}

.description .desc-body {
    font-size: 12px;
    font-weight: 400;
}

.plus {
    position: absolute;
    top: -17px;
    right: -12px;
    color: rgb(124, 124, 124);
}

.take-again {
    margin-bottom: 100px;
    margin-top: 20px;
}

.btn-container {
    position: fixed;
    bottom: 25px;
    width: 100%;
    display: flex;
    justify-content: center;
    z-index: 2;
}