@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
  text-decoration: none;
}

:root {
  --main-color: #DCAC00;
  --main-dark: #AE8800;
  --main-light: #EFD98B;
}

.sbmt-btn {
  background-color: var(--main-color);
  border: 2px solid var(--main-dark);
  border-radius: 50px;
  color: white;
  font-size: 22px;
  font-weight: 500;
  width: 273px;
  height: 54px;
}

.sbmt-btn:active {
  background-color: var(--main-dark);
}